body {
  font-family: "Special Gothic Expanded One", sans-serif;
  background-color: rgb(175, 175, 175);
}

.page{
  
  display: flex;
  flex-direction: column;
}
.special-gothic-expanded-one-regular {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1.main-title {
  text-align: center;
  margin:0;
  padding:1rem;
} 

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #444444;
}
  
li {
  float: left;
}
  
li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
li a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(136, 48, 48);
}
  
li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
  
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
  
.dropdown-content a:hover {background-color: #f1f1f1;}
  
.dropdown:hover .dropdown-content {
  display: block;
}

.main-body{
  color: #444444;
}

.main-body p{
  color: white;
}