<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, inistial-scale=1">
    <title>Adham's Portfolio</title>
</head>

<body>
    <div class="main-center">
        <img src="/static/logo.png">
        <h1>Welcome to my portfolio</h1>
    </div>
    <div class="nav-bar">
      <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#skills">Skills</a></li>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Projects</a></li>
              <div class="dropdown-content">
              <a href="#">Personal project</a>
              <a href="#">Final Year Project</a>
          <li><a href="#contact">Contact</a></li>
    </div>
    <div class="main-body">
        <p1>Graduated from National Institure of Technology Akita, Japan, I have broad knowlegde on everything in Electronic and Communications engineering. My major is in Information Technology and my strongest skills are in managing Linux servers, web hosting and web development.</p1>
    </div>
</body>
</html>
